<h1>Here you can ask your coach questions.</h1>



<p>Hello, I am your coach, what do you want to tell me ?</p>

<form action="/questions/answer" method="get">
  <input type="text" name="querry" placeholder="What do you want to tell your coach?">
  <input type="submit">
</form>
